[Bb]in/
[Oo]bj/
[Lls]og/
[Ll]ogs/
build/
bin/
obj/

*.user
*.userosscache
*.sln.docstates
*.suo
*.userprefs
.vs/
.idea/
.vscode/!settings.json
.vscode/!tasks.json
.vscode/!launch.json

[Tt]est[Rr]esult*/
[Cc]overage/
*.coverage
*.coveragexml

*.nupkg
*.snupkg
**/packages/*
!**/packages/build/
project.assets.json
project.nobuildupdate.json
*.nuget.props
*.nuget.targets

*.apk
*.aab
*.ipa
*.app
*.dSYM/
*.xcarchive/
*.keystore
*.jks
msi/
appx/

.DS_Store
Thumbs.db
desktop.ini
*.log
*.tmp

appsettings.Development.json
appsettings.Local.json
secrets.json