USE [dbDesperdicioAlimentos]
GO
/****** Objeto:  Table [dbo].[AssinaturaDescarte]    Data do Script: 28/07/2026 16:19:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AssinaturaDescarte](
	[idDescarte] [int] IDENTITY(1,1) NOT NULL,
	[fk_idItemEstoque] [int] NOT NULL,
	[fk_idUsuario] [int] NOT NULL,
	[assinatura] [nvarchar](max) NOT NULL,
	[timestamp] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[idDescarte] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[CategoriaItem]    Data do Script: 28/07/2026 16:19:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoriaItem](
	[idCategoria] [int] IDENTITY(1,1) NOT NULL,
	[nome] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idCategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[CategoriaRecaptcha]    Data do Script: 28/07/2026 16:19:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoriaRecaptcha](
	[idCategoriaRecaptcha] [int] IDENTITY(1,1) NOT NULL,
	[nome] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idCategoriaRecaptcha] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[ImagemRecaptcha]    Data do Script: 28/07/2026 16:19:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ImagemRecaptcha](
	[idImagemRecaptcha] [int] IDENTITY(1,1) NOT NULL,
	[fk_idCategoriaRecaptcha] [int] NULL,
	[imagem] [nchar](50) NULL,
 CONSTRAINT [PK__ImagemRe__1B233D6C43DB26EB] PRIMARY KEY CLUSTERED 
(
	[idImagemRecaptcha] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[Item]    Data do Script: 28/07/2026 16:19:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Item](
	[idItem] [int] IDENTITY(1,1) NOT NULL,
	[nome] [nvarchar](100) NOT NULL,
	[descricao] [nvarchar](255) NULL,
	[foto] [nvarchar](100) NULL,
	[fk_idCategoria] [int] NOT NULL,
 CONSTRAINT [PK__Item__AD1942688DDC180D] PRIMARY KEY CLUSTERED 
(
	[idItem] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[ItemEstoque]    Data do Script: 28/07/2026 16:19:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemEstoque](
	[idItemEstoque] [int] IDENTITY(1,1) NOT NULL,
	[fk_idItem] [int] NOT NULL,
	[fk_idRestaurante] [int] NOT NULL,
	[dataValidade] [date] NOT NULL,
	[status] [nvarchar](50) NULL,
	[quantidade] [decimal](10, 2) NOT NULL,
	[fk_idUnidade] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[idItemEstoque] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[ItemReceita]    Data do Script: 28/07/2026 16:19:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemReceita](
	[idItemReceita] [int] IDENTITY(1,1) NOT NULL,
	[fk_idReceita] [int] NOT NULL,
	[fk_idItem] [int] NOT NULL,
	[quantidade] [decimal](10, 2) NOT NULL,
	[fk_idUnidade] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idItemReceita] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[Receita]    Data do Script: 28/07/2026 16:19:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Receita](
	[idReceita] [int] IDENTITY(1,1) NOT NULL,
	[nome] [nvarchar](100) NOT NULL,
	[modoPreparo] [nvarchar](max) NOT NULL,
	[foto] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[idReceita] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[Restaurante]    Data do Script: 28/07/2026 16:19:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Restaurante](
	[idRestaurante] [int] IDENTITY(1,1) NOT NULL,
	[nome] [nvarchar](100) NOT NULL,
	[endereco] [nvarchar](255) NOT NULL,
	[telefone] [nvarchar](15) NULL,
	[logotipo] [nvarchar](50) NULL,
 CONSTRAINT [PK__Restaura__5E9CB8F21C3E4C82] PRIMARY KEY CLUSTERED 
(
	[idRestaurante] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[TentativaRecaptcha]    Data do Script: 28/07/2026 16:19:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TentativaRecaptcha](
	[idTentativa] [int] IDENTITY(1,1) NOT NULL,
	[fk_idUsuario] [int] NOT NULL,
	[resultado] [nvarchar](50) NOT NULL,
	[timestamp] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[idTentativa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[UnidadeMedida]    Data do Script: 28/07/2026 16:19:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UnidadeMedida](
	[idUnidade] [int] IDENTITY(1,1) NOT NULL,
	[nome] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idUnidade] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[Usuario]    Data do Script: 28/07/2026 16:19:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[idUsuario] [int] IDENTITY(1,1) NOT NULL,
	[fk_idRestaurante] [int] NOT NULL,
	[nome] [nvarchar](100) NOT NULL,
	[email] [nvarchar](50) NULL,
	[senha] [nvarchar](256) NULL,
	[pin] [nvarchar](6) NULL,
	[tentativasPIN] [int] NULL,
	[bloqueioPIN] [datetime] NULL,
 CONSTRAINT [PK__Usuario__645723A68400B5F3] PRIMARY KEY CLUSTERED 
(
	[idUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CategoriaItem] ON 

INSERT [dbo].[CategoriaItem] ([idCategoria], [nome]) VALUES (1, N'Carnes e Proteínas')
INSERT [dbo].[CategoriaItem] ([idCategoria], [nome]) VALUES (6, N'Doces e Açúcares')
INSERT [dbo].[CategoriaItem] ([idCategoria], [nome]) VALUES (5, N'Frutas')
SET IDENTITY_INSERT [dbo].[CategoriaItem] OFF
GO
SET IDENTITY_INSERT [dbo].[CategoriaRecaptcha] ON 

INSERT [dbo].[CategoriaRecaptcha] ([idCategoriaRecaptcha], [nome]) VALUES (1, N'CACHORRO')
INSERT [dbo].[CategoriaRecaptcha] ([idCategoriaRecaptcha], [nome]) VALUES (5, N'CARRO')
INSERT [dbo].[CategoriaRecaptcha] ([idCategoriaRecaptcha], [nome]) VALUES (3, N'FRUTA')
SET IDENTITY_INSERT [dbo].[CategoriaRecaptcha] OFF
GO
SET IDENTITY_INSERT [dbo].[ImagemRecaptcha] ON 

INSERT [dbo].[ImagemRecaptcha] ([idImagemRecaptcha], [fk_idCategoriaRecaptcha], [imagem]) VALUES (1, 1, N'cachorro1.png                                     ')
INSERT [dbo].[ImagemRecaptcha] ([idImagemRecaptcha], [fk_idCategoriaRecaptcha], [imagem]) VALUES (2, 1, N'cachorro2.png                                     ')
INSERT [dbo].[ImagemRecaptcha] ([idImagemRecaptcha], [fk_idCategoriaRecaptcha], [imagem]) VALUES (3, 1, N'cachorro3.png                                     ')
SET IDENTITY_INSERT [dbo].[ImagemRecaptcha] OFF
GO
SET IDENTITY_INSERT [dbo].[Item] ON 

INSERT [dbo].[Item] ([idItem], [nome], [descricao], [foto], [fk_idCategoria]) VALUES (1, N'Frango', N'Peito ou coxa de frango desfiado para diversas receitas', N'foto1.png', 1)
INSERT [dbo].[Item] ([idItem], [nome], [descricao], [foto], [fk_idCategoria]) VALUES (2, N'Carne moída', N'Carne moída ideal para recheios e molhos', N'foto2.png', 1)
INSERT [dbo].[Item] ([idItem], [nome], [descricao], [foto], [fk_idCategoria]) VALUES (3, N'Carne seca', N'Carne seca desfiada para pratos típicos', N'foto3.png', 1)
SET IDENTITY_INSERT [dbo].[Item] OFF
GO
SET IDENTITY_INSERT [dbo].[ItemEstoque] ON 

INSERT [dbo].[ItemEstoque] ([idItemEstoque], [fk_idItem], [fk_idRestaurante], [dataValidade], [status], [quantidade], [fk_idUnidade]) VALUES (5, 1, 1, CAST(N'2024-12-01' AS Date), N'ativo', CAST(200.00 AS Decimal(10, 2)), 1)
INSERT [dbo].[ItemEstoque] ([idItemEstoque], [fk_idItem], [fk_idRestaurante], [dataValidade], [status], [quantidade], [fk_idUnidade]) VALUES (6, 18, 4, CAST(N'2025-02-07' AS Date), N'valido', CAST(809.00 AS Decimal(10, 2)), 5)
INSERT [dbo].[ItemEstoque] ([idItemEstoque], [fk_idItem], [fk_idRestaurante], [dataValidade], [status], [quantidade], [fk_idUnidade]) VALUES (7, 14, 1, CAST(N'2025-07-25' AS Date), N'valido', CAST(430.00 AS Decimal(10, 2)), 2)
GO
SET IDENTITY_INSERT [dbo].[ItemEstoque] OFF
GO
SET IDENTITY_INSERT [dbo].[ItemReceita] ON 

INSERT [dbo].[ItemReceita] ([idItemReceita], [fk_idReceita], [fk_idItem], [quantidade], [fk_idUnidade]) VALUES (1, 1, 1, CAST(500.00 AS Decimal(10, 2)), 1)
INSERT [dbo].[ItemReceita] ([idItemReceita], [fk_idReceita], [fk_idItem], [quantidade], [fk_idUnidade]) VALUES (2, 1, 5, CAST(200.00 AS Decimal(10, 2)), 1)
INSERT [dbo].[ItemReceita] ([idItemReceita], [fk_idReceita], [fk_idItem], [quantidade], [fk_idUnidade]) VALUES (3, 1, 6, CAST(300.00 AS Decimal(10, 2)), 1)
SET IDENTITY_INSERT [dbo].[ItemReceita] OFF
GO
SET IDENTITY_INSERT [dbo].[Receita] ON 

INSERT [dbo].[Receita] ([idReceita], [nome], [modoPreparo], [foto]) VALUES (1, N'Lasanha de Frango com Molho Branco', N'Monte camadas de massa, frango desfiado, molho branco e queijo. Asse até dourar.', N'images/lasanha_frango_molho_branco.jpg')
INSERT [dbo].[Receita] ([idReceita], [nome], [modoPreparo], [foto]) VALUES (2, N'Risoto de Camarão', N'Cozinhe o arroz arbóreo com camarão, vinho branco e temperos frescos.', N'images/risoto_camarao.jpg')
INSERT [dbo].[Receita] ([idReceita], [nome], [modoPreparo], [foto]) VALUES (3, N'Torta de Palmito e Queijo', N'Prepare a massa podre, recheie com palmito e queijo e asse.', N'images/torta_palmito_queijo.jpg')
SET IDENTITY_INSERT [dbo].[Receita] OFF
GO
SET IDENTITY_INSERT [dbo].[Restaurante] ON 

INSERT [dbo].[Restaurante] ([idRestaurante], [nome], [endereco], [telefone], [logotipo]) VALUES (1, N'La Gourmet', N'Rua das Delícias, 123 - Centro', N'(11) 1234-5678', N'logo_restaurante1.png')
INSERT [dbo].[Restaurante] ([idRestaurante], [nome], [endereco], [telefone], [logotipo]) VALUES (2, N'Cantinho Doce Cafeteria', N'Avenida dos Sabores, 456 - Jardim', N'(11) 2345-6789', N'logo_restaurante2.png')
INSERT [dbo].[Restaurante] ([idRestaurante], [nome], [endereco], [telefone], [logotipo]) VALUES (3, N'Nonna''s Pizzaria', N'Rua Gourmet, 789 - Vila Nova', N'(11) 3456-7890', N'logo_restaurante3.png')
SET IDENTITY_INSERT [dbo].[Restaurante] OFF
GO
SET IDENTITY_INSERT [dbo].[UnidadeMedida] ON 

INSERT [dbo].[UnidadeMedida] ([idUnidade], [nome]) VALUES (2, N'g')
INSERT [dbo].[UnidadeMedida] ([idUnidade], [nome]) VALUES (1, N'Kg')
INSERT [dbo].[UnidadeMedida] ([idUnidade], [nome]) VALUES (3, N'L')
SET IDENTITY_INSERT [dbo].[UnidadeMedida] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([idUsuario], [fk_idRestaurante], [nome], [email], [senha], [pin], [tentativasPIN], [bloqueioPIN]) VALUES (1, 1, N'Carlos Cavalheiro', N'ocarlosleu@gmail.com', N'senha123', N'1234', 3, CAST(N'2024-01-12T00:00:00.000' AS DateTime))
INSERT [dbo].[Usuario] ([idUsuario], [fk_idRestaurante], [nome], [email], [senha], [pin], [tentativasPIN], [bloqueioPIN]) VALUES (2, 1, N'Leonardo Garcia', N'leo.garcia@gmail.com', N'senha456', N'5678', 3, CAST(N'2024-01-12T00:00:00.000' AS DateTime))
INSERT [dbo].[Usuario] ([idUsuario], [fk_idRestaurante], [nome], [email], [senha], [pin], [tentativasPIN], [bloqueioPIN]) VALUES (3, 1, N'Ricardo Almeida', N'ricardo.almeida@gmail.com', N'senha789', N'2345', 3, CAST(N'2024-01-12T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
SET ANSI_PADDING ON
GO
/****** Objeto:  Index [UQ__Categori__6F71C0DC82289B8C]    Data do Script: 28/07/2026 16:19:07 ******/
ALTER TABLE [dbo].[CategoriaItem] ADD UNIQUE NONCLUSTERED 
(
	[nome] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto:  Index [UQ__Categori__6F71C0DCDC8B2DA4]    Data do Script: 28/07/2026 16:19:07 ******/
ALTER TABLE [dbo].[CategoriaRecaptcha] ADD UNIQUE NONCLUSTERED 
(
	[nome] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto:  Index [UQ__Item__6F71C0DCCE3A1143]    Data do Script: 28/07/2026 16:19:07 ******/
ALTER TABLE [dbo].[Item] ADD  CONSTRAINT [UQ__Item__6F71C0DCCE3A1143] UNIQUE NONCLUSTERED 
(
	[nome] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto:  Index [UQ__Restaura__6F71C0DCBDF2B35F]    Data do Script: 28/07/2026 16:19:07 ******/
ALTER TABLE [dbo].[Restaurante] ADD  CONSTRAINT [UQ__Restaura__6F71C0DCBDF2B35F] UNIQUE NONCLUSTERED 
(
	[nome] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto:  Index [UQ__UnidadeM__6F71C0DCA87EF758]    Data do Script: 28/07/2026 16:19:07 ******/
ALTER TABLE [dbo].[UnidadeMedida] ADD UNIQUE NONCLUSTERED 
(
	[nome] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto:  Index [UQ__Usuario__6F71C0DC1A9553C0]    Data do Script: 28/07/2026 16:19:07 ******/
ALTER TABLE [dbo].[Usuario] ADD  CONSTRAINT [UQ__Usuario__6F71C0DC1A9553C0] UNIQUE NONCLUSTERED 
(
	[nome] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AssinaturaDescarte] ADD  DEFAULT (getdate()) FOR [timestamp]
GO
ALTER TABLE [dbo].[ItemEstoque] ADD  DEFAULT ('válido') FOR [status]
GO
ALTER TABLE [dbo].[TentativaRecaptcha] ADD  DEFAULT (getdate()) FOR [timestamp]
GO
ALTER TABLE [dbo].[Usuario] ADD  CONSTRAINT [DF__Usuario__tentati__44FF419A]  DEFAULT ((0)) FOR [tentativasPIN]
GO
ALTER TABLE [dbo].[AssinaturaDescarte]  WITH CHECK ADD FOREIGN KEY([fk_idItemEstoque])
REFERENCES [dbo].[ItemEstoque] ([idItemEstoque])
GO
ALTER TABLE [dbo].[AssinaturaDescarte]  WITH CHECK ADD  CONSTRAINT [FK__Assinatur__fk_id__60A75C0F] FOREIGN KEY([fk_idUsuario])
REFERENCES [dbo].[Usuario] ([idUsuario])
GO
ALTER TABLE [dbo].[AssinaturaDescarte] CHECK CONSTRAINT [FK__Assinatur__fk_id__60A75C0F]
GO
ALTER TABLE [dbo].[ImagemRecaptcha]  WITH CHECK ADD  CONSTRAINT [FK__ImagemRec__fk_id__5812160E] FOREIGN KEY([fk_idCategoriaRecaptcha])
REFERENCES [dbo].[CategoriaRecaptcha] ([idCategoriaRecaptcha])
GO
ALTER TABLE [dbo].[ImagemRecaptcha] CHECK CONSTRAINT [FK__ImagemRec__fk_id__5812160E]
GO
ALTER TABLE [dbo].[Item]  WITH CHECK ADD  CONSTRAINT [FK__Item__fk_idCateg__412EB0B6] FOREIGN KEY([fk_idCategoria])
REFERENCES [dbo].[CategoriaItem] ([idCategoria])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Item] CHECK CONSTRAINT [FK__Item__fk_idCateg__412EB0B6]
GO
ALTER TABLE [dbo].[ItemEstoque]  WITH CHECK ADD  CONSTRAINT [FK__ItemEstoq__fk_id__49C3F6B7] FOREIGN KEY([fk_idItem])
REFERENCES [dbo].[Item] ([idItem])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ItemEstoque] CHECK CONSTRAINT [FK__ItemEstoq__fk_id__49C3F6B7]
GO
ALTER TABLE [dbo].[ItemEstoque]  WITH CHECK ADD  CONSTRAINT [FK__ItemEstoq__fk_id__4AB81AF0] FOREIGN KEY([fk_idRestaurante])
REFERENCES [dbo].[Restaurante] ([idRestaurante])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ItemEstoque] CHECK CONSTRAINT [FK__ItemEstoq__fk_id__4AB81AF0]
GO
ALTER TABLE [dbo].[ItemEstoque]  WITH CHECK ADD FOREIGN KEY([fk_idUnidade])
REFERENCES [dbo].[UnidadeMedida] ([idUnidade])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[ItemReceita]  WITH CHECK ADD  CONSTRAINT [FK__ItemRecei__fk_id__5165187F] FOREIGN KEY([fk_idItem])
REFERENCES [dbo].[Item] ([idItem])
GO
ALTER TABLE [dbo].[ItemReceita] CHECK CONSTRAINT [FK__ItemRecei__fk_id__5165187F]
GO
ALTER TABLE [dbo].[ItemReceita]  WITH CHECK ADD FOREIGN KEY([fk_idReceita])
REFERENCES [dbo].[Receita] ([idReceita])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ItemReceita]  WITH CHECK ADD FOREIGN KEY([fk_idUnidade])
REFERENCES [dbo].[UnidadeMedida] ([idUnidade])
GO
ALTER TABLE [dbo].[TentativaRecaptcha]  WITH CHECK ADD  CONSTRAINT [FK__Tentativa__fk_id__5BE2A6F2] FOREIGN KEY([fk_idUsuario])
REFERENCES [dbo].[Usuario] ([idUsuario])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TentativaRecaptcha] CHECK CONSTRAINT [FK__Tentativa__fk_id__5BE2A6F2]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK__Usuario__fk_idRe__45F365D3] FOREIGN KEY([fk_idRestaurante])
REFERENCES [dbo].[Restaurante] ([idRestaurante])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK__Usuario__fk_idRe__45F365D3]
GO
